<!--公共文件样式-->
{include file="public/head" /}
<!--/公共文件样式-->

<body>
<!--城市与购物车-->
{include file="public/citycar" /}
<!--/城市与购物车-->

<!--搜索-->
{include file="public/serch" /}
<!--/搜索-->
<!--网站导航 start-->
{include file="public/nav" /}
<!--网站导航 end-->

<!--web main body start-->
<div class="w-all w-minw bg-c-fcfcfc ovhidden">
    <div class="w-main m-auto"> 
        <!--面包屑 start-->
        <div class="w-main fs-14 ftc-7a7a7a line-h45 m-t-18 m-b-18 fl"> 网站位置：首页  >  分校  >  详情 </div>
        <!--面包屑 end--> 
    </div>
    <div class="w-main m-auto"> 
        <!--分校详情 left start-->
        <div class="w-840 fl"> 
            <!--top start-->
            <div class="w-840 bg-c-ffffff p-t-15 m-b-20 ovhidden fl">
                <div class="p-l-20 p-r-30 w-790 fl"> 
                    <!--left school content top start-->
                    <h3 class="w-all fs-18 ftc-000000 p-b-10 bd-bs-f3f3f3 line-h50 fl">分校介绍</h3>
                    <div class="w-all m-t-22 fl">
                        <div class="w-300 hg-225 bd-1s-ededed  fl"> <img src="__PUBLIC__/HOME_PICS/school_con.jpg" width="300" height="225" alt=""/> </div>
                        <div class="w-430 fr">
                            <h4 class="w-all fs-18 ftc-000000 line-h55 fl">齐峰教育浙江温州校区</h4>
                            <p class="w-all fs-14 line-h42 fl">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：&nbsp;&nbsp;&nbsp;浙江省温州市温州大道888号</p>
                            <p class="w-all fs-14 line-h42 fl">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：&nbsp;&nbsp;&nbsp;0588-57156636&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;57156635</p>
                            <p class="w-all fs-14 line-h42 fl">开课时段：&nbsp;&nbsp;&nbsp;周一至周五  8:30-18:00</p>
                        </div>
                    </div>
                    <div class="w-all hg-22 fl"></div>
                    <div class="w-all hg-1 bg-c-f3f3f3 fl"></div>
                </div>
                <!--left school content top start-->
                
                <div class="p-l-20 p-r-30 w-790 fl">
                    <h3 class="fs-16 ft-w-b ftc-e9511b line-26 p-l-15 m-t-15 m-b-15 line_h3 fl">校区介绍</h3>
                    <div class="w-790 p-l-15 fs-16 line-h26 ftc-636363 fl">齐峰教育浙江温州校区为当地中小学生带来最优秀的师资力量和最丰富的辅导课程。齐峰教育作为温州中小学个性化教育的领军品牌，凭借着自身雄厚的师资力量和提分效果快、辅导品质高的优势，已经走向了浙江省内其他市区。 <br/>
                        <br/>
                    </div>
                    <h3 class="fs-16 ft-w-b ftc-e9511b line-26 p-l-15 m-t-25 m-b-15 line_h3 fl">课程介绍</h3>
                    <div class="w-790 p-l-15 fs-16 line-h26 ftc-636363 fl">此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍此处放该学校的课程介绍。<br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
            <!--top start--> 
            <!--校区展示 start -->
            <div class="w-840 bg-c-ffffff p-t-15 ovhidden fl">
                <div class="p-l-20 p-r-30 w-790 fl">
                    <h3 class="fs-16 ft-w-b ftc-e9511b line-26 p-l-15 m-t-25 m-b-15 line_h3 fl">校区展示</h3>
                </div>
                <div class="w-all hg-1 bg-c-f3f3f3 m-b-6 fl"></div>
                <div class="w-790 p-l-15 fs-16 fl">
                    <ul class="w-804 p-b-30 qlclas_smimg ovhidden">
                        <li class="w-258 hg-193 m-t-5 m-b-6 m-l-4 m-r-4 bd-1s-ededed ovhidden fl"><img src="__PUBLIC__/HOME_PICS/xuexiao.jpg" alt=""/></li>
                        <li class="w-258 hg-193 m-t-5 m-b-6 m-l-4 m-r-4 bd-1s-ededed ovhidden fl"><img src="__PUBLIC__/HOME_PICS/xuexiao.jpg" alt=""/></li>
                        <li class="w-258 hg-193 m-t-5 m-b-6 m-l-4 m-r-4 bd-1s-ededed ovhidden fl"><img src="__PUBLIC__/HOME_PICS/xuexiao.jpg" alt=""/></li>
                        <li class="w-258 hg-193 m-t-5 m-b-6 m-l-4 m-r-4 bd-1s-ededed ovhidden fl"><img src="__PUBLIC__/HOME_PICS/xuexiao.jpg" alt=""/></li>
                        <li class="w-258 hg-193 m-t-5 m-b-6 m-l-4 m-r-4 bd-1s-ededed ovhidden fl"><img src="__PUBLIC__/HOME_PICS/xuexiao.jpg" alt=""/></li>
                        <li class="w-258 hg-193 m-t-5 m-b-6 m-l-4 m-r-4 bd-1s-ededed ovhidden fl"><img src="__PUBLIC__/HOME_PICS/xuexiao.jpg" alt=""/></li>
                    </ul>
                </div>
            </div>
            <!--校区展示 end --> 
        </div>
        <!--分校详情 left end--> 
        
        <!--分校详情 right start-->
        <div class="w-340 fr">
            <div class="w-330 p-l-10 fs-14 bg-c-ffffff ftc-7a7a7a m-b-10 line-h60 fl">人气分校</div>
            <ul class="w-320 p-l-10 p-r-10 p-b-20 rig_scool bg-c-ffffff fl">
                <li class="w-all m-t-20 m-b-2 fl"> <a href="分校详情.html" class="dsblock w-102 hg-68 fl ovhidden"><img src="__PUBLIC__/HOME_PICS/fenxiao.jpg" alt="a"/></a> <a href="分校详情.html" class="dsblock w-175 hg-68 ovhidden fs-16 ftc-000000 line-34 fr">齐峰教育浙江温州校区</a> </li>
                <li class="w-all m-t-20 m-b-2 fl"> <a href="分校详情.html" class="dsblock w-102 hg-68 fl ovhidden"><img src="pics/fenxiao.jpg" alt="a"/></a> <a href="分校详情.html" class="dsblock w-175 hg-68 ovhidden fs-16 ftc-000000 line-34 fr">齐峰教育浙江温州校区</a> </li>
                <li class="w-all m-t-20 m-b-2 fl"> <a href="分校详情.html" class="dsblock w-102 hg-68 fl ovhidden"><img src="pics/fenxiao.jpg" alt="a"/></a> <a href="分校详情.html" class="dsblock w-175 hg-68 ovhidden fs-16 ftc-000000 line-34 fr">齐峰教育浙江温州校区</a> </li>
                <li class="w-all m-t-20 m-b-2 fl"> <a href="分校详情.html" class="dsblock w-102 hg-68 fl ovhidden"><img src="pics/fenxiao.jpg" alt="a"/></a> <a href="分校详情.html" class="dsblock w-175 hg-68 ovhidden fs-16 ftc-000000 line-34 fr">齐峰教育浙江温州校区</a> </li>
                <li class="w-all m-t-20 m-b-2 fl"> <a href="分校详情.html" class="dsblock w-102 hg-68 fl ovhidden"><img src="pics/fenxiao.jpg" alt="a"/></a> <a href="分校详情.html" class="dsblock w-175 hg-68 ovhidden fs-16 ftc-000000 line-34 fr">齐峰教育浙江温州校区</a> </li>
                <li class="w-all m-t-20 m-b-2 fl"> <a href="分校详情.html" class="dsblock w-102 hg-68 fl ovhidden"><img src="pics/fenxiao.jpg" alt="a"/></a> <a href="分校详情.html" class="dsblock w-175 hg-68 ovhidden fs-16 ftc-000000 line-34 fr">齐峰教育浙江温州校区</a> </li>
            </ul>
        </div>
        <!--分校详情 right start--> 
    </div>
    <div class="w-main hg-60 fl"></div>
</div>
<!--web main body start-->
<!--like start-->
{include file="public/like"}
<!--like end-->
<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->
</body>
</html>