<!--_meta 作为公共模版分离出去-->
{include file="public/meta" /}
<!--/meta 作为公共模版分离出去-->
<title>资讯列表 - 公司新闻 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<!--_header 作为公共模版分离出去-->
{include file="public/header" /}
<!--/_header 作为公共模版分离出去-->
<!--_menu 作为公共模版分离出去-->
{include file="public/menu" /}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span> 评论<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c"> 日期范围：
                <!--{literal}-->
                <!--<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">-->
                <!----->
                <!--<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">-->
                <!--{/literal}-->
                <input type="text" class="input-text" style="width:250px" placeholder="输入关键词" id="" name="">
                <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜意见</button>
            </div>
            <form action="/admin/comment/del" method="post">
                <div class="cl pd-5 bg-1 bk-gray mt-20"><button> <span class="l"><a class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </button></span> <span class="r">共有数据：<strong>{//$count}</strong> 条</span> </div>
                <div class="mt-20">
                    <table class="table table-border table-bordered table-bg table-hover table-sort">
                        <thead>
                        <tr class="text-c">
                            <th>ID</th>
                          <th>用户名</th>
                          <th>商品名称</th>
                          <th>商品编号</th>
                          <th>商品图片</th>
                          <th>订单编号</th>
                          <th>是否付款</th>
                          <th>已付金额</th>
                          <th>收货地址</th>
                          <th>退换货处理</th>
                          <th>提交时间</th>
                          <th>订单状态</th>
                          <th>订单操作</th>
                        </tr>
                        </thead>
                        <tbody>
                      <tr class="text-c va-m">
      <td>{//$v.id}</td>
      <td>{//$v.uname}</td>
      <td>{//$v.gname}</td>
      <td>{//$v.oid}</td>
      <td><img src="{//$v.gpath}" width="30"></td>
      <td>{//$v.odnum}</td>
      <td><span class="label label-success radius">
        {//switch name="$v.ispay" }
        {//case value="0"}已付款{///case}
        {//case value="1"}未付款{///case}
        {//case value="2"}到付{///case}
        {//default /}
        {///switch} 
        </span>      
      </td>
      <td>{//$v.paid}</td>
      <td>{//$v.address}</td>
      <td class="td-man"><a title="退货状态" href="javascript:;" class="ml-5" style="text-decoration:none" {//if  $v.ordertype == 1 || $v.ordertype == 2} onclick="order_del(this,{//$v.id})" {///if}><span class="label label-success radius">
              {//switch name="$v.ordertype" }
              {//case value="0"}正常{///case}
              {//case value="1"}申请退货{///case}
              {//case value="2"}未处理{///case}
              {//case value="3"}处理中{///case}
              {//case value="4"}已处理{///case}
              {//case value="5"}用户作废{///case}
              {//case value="6"}系统作废{///case}
              {//default /}
              {///switch}
      </span></a></td>
      <td>{//$v.create_time}</td>
      <td><span class="label label-success radius">
            {//switch name="$v.isexpress" }
            {//case value="0"}未发货{///case}
            {//case value="1"}已发货{///case}
            {//case value="2"}已取消{///case}
            {//case value="3"}送达未签{///case}
            {//case value="4"}已签收{///case}
            {//case value="5"}已评价{///case}
            {//default /}
            {///switch}
      </span></td>
      <td class="td-manage"><a title="订单编辑" href="javascript:;" onclick="order_edit('订单编辑','/admin/orders/order_edit/id/{//$v.id}',{//$v.id},'','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a><a title="禁止" href="javascript:;" onclick="order_delete(this,{//$v.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
    </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </article>

    </div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="public/footer" /}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
        ]
    });

    /*资讯-添加*/
    function article_add(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
        });
        layer.full(index);

    }

    /*资讯-编辑*/
    function article_edit(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url+'?id='+id
        });
        layer.full(index);
    }
    function shua()
    {
        layer.closeAll(idndex); // 关闭窗口
        alert(2);
        location.href = location.href;
//        history.go(-1);


    }
    /*资讯-删除*/
    function article_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '/admin/comment/del?id='+id,
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*资讯-审核*/
    function article_shenhe(obj,id){
        layer.confirm('审核文章？', {
                    btn: ['通过','不通过','取消'],
                    shade: false,
                    closeBtn: 0
                },
                function(){
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                    $(obj).remove();
                    layer.msg('已发布', {icon:6,time:1000});
                },
                function(){
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                    $(obj).remove();
                    layer.msg('未通过', {icon:5,time:1000});
                });
    }
    /*资讯-下架*/
    function article_stop(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            layer.msg('已下架!',{icon: 5,time:1000});
        });
    }

    /*资讯-发布*/
    function article_start(obj,id){
        layer.confirm('确认要发布吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
            $(obj).remove();
            layer.msg('已发布!',{icon: 6,time:1000});
        });
    }
    /*资讯-申请上线*/
    function article_shenqing(obj,id){
        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
        $(obj).parents("tr").find(".td-manage").html("");
        layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>