<script type="text/javascript" src="__PUBLIC__/ADMIN_LIB/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/ADMIN_LIB/layer/2.4/layer.js"></script>
 
<script type="text/javascript" src="__PUBLIC__/ADMIN_LIB/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/ADMIN_LIB/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/ADMIN_LIB/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/ADMIN_STATIC/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/ADMIN_STATIC/h-ui.admin/js/H-ui.admin.page.js"></script>
<script type="text/javascript" src="__PUBLIC__/ADMIN_LIB/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/ADMIN_LIB/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/ADMIN_LIB/laypage/1.2/laypage.js"></script>