<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/admin/article/company_article" title="公司新闻">公司新闻</a></li>
                    <li><a href="/admin/article/hyarticle" title="行业新闻">行业新闻</a></li>
                    <li><a href="/admin/article/familly_article" title="家庭教育">家庭教育</a></li>

                </ul>
            </dd>

        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 轮播广告图<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/admin/picturelist/picture_list" title="图片管理">轮播广告图</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/admin/product/product_category" title="分类管理">分类管理</a></li>
                    <li><a href="/admin/product/product_list" title="教育视频">产品管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/admin/comment/commentlist" title="评论列表">评论列表</a></li>
                    <li><a href="/admin/comment/feedbacklist" title="意见反馈">意见反馈</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/admin/member/member_list" title="会员列表">会员列表</a></li>
                    <li><a href="/admin/member/memberdel" title="删除的会员">删除的会员</a></li>
                    <li><a href="/admin/member/memberlevel" title="等级管理">等级管理</a></li>
                    <li><a href="/admin/member/memberscore" title="积分管理">积分管理</a></li>
                    <li><a href="/admin/member/memberrecordbrowse" title="浏览记录">浏览记录</a></li>
                    <li><a href="/admin/member/memberrecorddownload" title="下载记录">下载记录</a></li>
                    <li><a href="/admin/member/membershare" title="分享记录">分享记录</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/admin/admin/admin_role" title="角色管理">角色管理</a></li>
                    <li><a href="/admin/admin/admin_gl" title="权限管理">权限管理</a></li>
                    <li><a href="/admin/admin/admin_list" title="管理员列表">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tongji">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="charts-1.html" title="折线图">折线图</a></li>
                    <li><a href="charts-2.html" title="时间轴折线图">时间轴折线图</a></li>
                    <li><a href="charts-3.html" title="区域图">区域图</a></li>
                    <li><a href="charts-4.html" title="柱状图">柱状图</a></li>
                    <li><a href="charts-5.html" title="饼状图">饼状图</a></li>
                    <li><a href="charts-6.html" title="3D柱状图">3D柱状图</a></li>
                    <li><a href="charts-7.html" title="3D饼状图">3D饼状图</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="\admin\system\systembase" title="系统设置">系统设置</a></li>
                    <li><a href="\admin\system\systemcategory" title="栏目管理">栏目管理</a></li>
                    <li><a href="\admin\system\systemdata" title="数据字典">数据字典</a></li>
                    <li><a href="\admin\system\systemshielding" title="屏蔽词">屏蔽词</a></li>
                    <li><a href="\admin\system\systemlog" title="系统日志">系统日志</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>