
<!--公共文件样式-->
{include file="public/head" /}
<!--/公共文件样式-->

<body>
<!--城市与购物车-->
{include file="public/citycar" /}
<!--/城市与购物车-->

<!--搜索-->
{include file="public/serch" /}
<!--/搜索-->
<!--网站导航 start-->
{include file="public/nav" /}
<!--网站导航 end-->

<!--web main body start-->
<div class="w-all w-minw bg-c-fcfcfc ovhidden">
    <div class="w-main m-auto"> 
        <!--面包屑 start-->
        <div class="w-main fs-14 ftc-7a7a7a line-h45 m-t-18 m-b-18 fl"> 网站位置：首页  >  资料下载 </div>
        <!--面包屑 end--> 
        <!--filter start-->
        <div class="w-1150 p-l-25 p-r-25 bg-c-ffffff fl">
            <div class="w-1150 fl">
                <h3 class="fs-14 ftc-000000 line-h60 fl">全部课程</h3>
            </div>
            
            <!--分割线-->
            <div class="w-all fl hg-1 bg-c-d2d2d2"></div>
            <!--分割线-->
            <div class="w-1150 ql_ftclass">
                <div class="w-all p-t-10 p-b-10 ovhidden">
                    <div class="w-80 fs-14 line-h28 m-t-6 m-b-6 ftc-888888 fl">课程分类</div>
                    <ul class="w-970 fl">
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl class_cur">小学</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">初中</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">高中</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">家庭教育</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <!--分割线-->
                <div class="w-all fl hg-1 bg-c-d2d2d2"></div>
                <!--分割线-->
                <div class="w-all p-t-16 p-b-16 ovhidden">
                    <div class="w-80 fs-14 line-h28 m-t-6 m-b-6 ftc-888888 fl">所在年级</div>
                    <ul class="w-970 fl">
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl class_cur">不限</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">一年级</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">二年级</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">三年级</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">四年级</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">五年级</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">六年级</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <!--分割线-->
                <div class="w-all fl hg-1 bg-c-d2d2d2"></div>
                <!--分割线-->
                <div class="w-all p-t-16 p-b-16 ovhidden">
                    <div class="w-80 fs-14 line-h28 m-t-6 m-b-6 ftc-888888 fl">学习科目</div>
                    <ul class="w-970 fl">
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl class_cur">不限</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">语文</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">数学</a></li>
                        <li class="w-70 m-l-24 fl"><a href="#" class="dsblock w-all fs-14 line-h28 ftc-888888 m-t-6 m-b-6 curpter text-c fl">英语</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-main m-auto m-t-25 fl"> 
            <!--down left start -->
            <div class="w-790 bg-c-ffffff ovhidden p-l-20 p-r-30 p- fl">
                <ul class="w-790 ql_dwom ovhidden fl">
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <li class="w-all fl"><a href="#" class="dsblock w-all bd-bd-c7c7c7 fl"><span class="dsblock line-h60 fs-14 ftc-909090 fr">2017-08-11</span>
                        <h3 class="fs-14 line-h60 one_hidden w-690 ftc-525252 fl"><span class="dsblock fl m-r-20">[数学]</span>2017政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题政法干警文化综合考前模拟题（18）</h3>
                        </a></li>
                    <div class="clear"></div>
                </ul>
                <div class="w-790 hg-30 fl"></div>
                <!--pages start-->
                <ul class="w-560 hg-36 ql_pages m-auto">
                    <li class="fl"><a class="" href="#">&lt;</a></li>
                    <li class="fl"><a class="cur" href="#">1</a></li>
                    <li class="fl"><a class="" href="#">2</a></li>
                    <li class="fl"><a class="" href="#">3</a></li>
                    <li class="fl"><a class="" href="#">...</a></li>
                    <li class="fl"><a class="" href="#">12</a></li>
                    <li class="fl"><a class="" href="#">&gt;</a></li>
                </ul>
                <!--pages end-->
                <div class="w-790 hg-30 fl"></div>
            </div>
            <!--down left end --> 
            
            <!--人气讲师 right start-->
            <div class="w-340 fr">
                <div class="w-330 p-l-10 fs-14 bg-c-ffffff ftc-7a7a7a m-b-10 line-h60 fl">人气教师</div>
                <ul class="w-320 p-l-10 p-r-10 p-b-20 rig_scool bg-c-ffffff fl">
                    <li class="w-all m-t-20 m-b-2 fl"> <a href="#" class="dsblock w-102 hg-68 fl ovhidden"><img src="__PUBLIC__/HOME_PICS/jiangshi1.jpg" alt="a"/></a> <a href="#" class="dsblock w-175 hg-68 ovhidden fr">
                        <h3 class="w-all fs-16 ftc-000000 line-h30 m-t-3 fl">齐峰</h3>
                        <p class="w-all fs-14 ftc-6d6d6d line-h22 fl">教学时间：    15年</p>
                        </a> </li>
                    <li class="w-all m-t-20 m-b-2 fl"> <a href="#" class="dsblock w-102 hg-68 fl ovhidden"><img src="__PUBLIC__/HOME_PICS/jiangshi1.jpg" alt="a"/></a> <a href="#" class="dsblock w-175 hg-68 ovhidden fr">
                        <h3 class="w-all fs-16 ftc-000000 line-h30 m-t-3 fl">齐峰</h3>
                        <p class="w-all fs-14 ftc-6d6d6d line-h22 fl">教学时间：    15年</p>
                        </a> </li>
                    <li class="w-all m-t-20 m-b-2 fl"> <a href="#" class="dsblock w-102 hg-68 fl ovhidden"><img src="pics/jiangshi1.jpg" alt="a"/></a> <a href="#" class="dsblock w-175 hg-68 ovhidden fr">
                        <h3 class="w-all fs-16 ftc-000000 line-h30 m-t-3 fl">齐峰</h3>
                        <p class="w-all fs-14 ftc-6d6d6d line-h22 fl">教学时间：    15年</p>
                        </a> </li>
                    <li class="w-all m-t-20 m-b-2 fl"> <a href="#" class="dsblock w-102 hg-68 fl ovhidden"><img src="pics/jiangshi1.jpg" alt="a"/></a> <a href="#" class="dsblock w-175 hg-68 ovhidden fr">
                        <h3 class="w-all fs-16 ftc-000000 line-h30 m-t-3 fl">齐峰</h3>
                        <p class="w-all fs-14 ftc-6d6d6d line-h22 fl">教学时间：    15年</p>
                        </a> </li>
                    <li class="w-all m-t-20 m-b-2 fl"> <a href="#" class="dsblock w-102 hg-68 fl ovhidden"><img src="pics/jiangshi1.jpg" alt="a"/></a> <a href="#" class="dsblock w-175 hg-68 ovhidden fr">
                        <h3 class="w-all fs-16 ftc-000000 line-h30 m-t-3 fl">齐峰</h3>
                        <p class="w-all fs-14 ftc-6d6d6d line-h22 fl">教学时间：    15年</p>
                        </a> </li>
                </ul>
            </div>
            <!--人气讲师 right start--> 
            
        </div>
    </div>
</div>
<!--web main body start-->
<!--like start-->
{include file="public/like"}
<!--like end-->
<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->
</body>
</html>