<!--公共文件样式-->
{include file="public/head" /}
<!--/公共文件样式-->

<body>
<!--城市与购物车-->
{include file="public/citycar" /}
<!--/城市与购物车-->

<!--搜索-->
{include file="public/serch" /}
<!--/搜索-->
<!--网站导航 start-->
{include file="public/nav" /}
<!--网站导航 end-->

<!--web main body start-->
<div class="w-all w-minw bg-c-fcfcfc ovhidden">
<div class="w-main m-auto ovhidden"> 
    <!--面包屑 start-->
    <div class="w-main fs-14 ftc-7a7a7a line-h45 m-t-18 m-b-18 fl"> 网站位置：首页  >  荣誉资质 </div>
    <!--面包屑 end--> 
    
    <!--sub nav start -->
    <div class="w-all bg-c-ffffff ovhidden p-t-14 p-b-18">
        <ul class="ql_subnav">
            <li class="fl"><a href="/index/about/aboutqf" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12  fl">关于齐峰</a></li>
            <li class="fl"><a href="/index/about/qfys" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl">齐峰优势</a></li>
            <li class="fl"><a href="/index/about/honor" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl navcur">荣誉资质</a></li>
            <li class="fl"><a href="/index/about/zxns" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl">招贤纳士</a></li>
            <li class="fl"><a href="/index/about/show" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl ">联系我们</a></li>
            <div class="clear"></div>
        </ul>
    </div>
    <!--sub nav end -->
    <div class="w-all hg-10"></div>
    
    <!--main body start-->
    <div class="w-1116 p-l-42 p-r-42 bg-c-ffffff ovhidden">
        <div class="w-all m-t-30 fl">
            <h3 class="fs-32 ftc-033354 ft-w-b">HONORS</h3>
            <h3 class="fs-24 ft-w-b ftc-000000">荣誉资质</h3>
        </div>
        <div class="w-all"> 
            <div id="images"> <a href="__PUBLIC__/HOME_PICS/2.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质荣誉资质荣誉资质荣誉资质荣誉资质</h3>
                </a> <a href="__PUBLIC__/HOME_PICS/1.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质</h3>
                </a> <a href="__PUBLIC__/HOME_PICS/2.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质荣誉资质荣誉资质荣誉资质荣誉资质</h3>
                </a> <a href="__PUBLIC__/HOME_PICS/1.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质</h3>
                </a> <a href="__PUBLIC__/HOME_PICS/2.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质荣誉资质荣誉资质荣誉资质荣誉资质</h3>
                </a> <a href="__PUBLIC__/HOME_PICS/1.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质</h3>
                </a> <a href="__PUBLIC__/HOME_PICS/2.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质荣誉资质荣誉资质荣誉资质荣誉资质</h3>
                </a> <a href="__PUBLIC__/HOME_PICS/1.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质</h3>
                </a> <a href="__PUBLIC__/HOME_PICS/1.jpg" id="example2-2"><img src="__PUBLIC__/HOME_PICS/honor.jpg" alt=""/>
                <h3 class="one_hidden">荣誉资质</h3>
                </a> </div>
            <div class="clear"></div>

            <div class="w-all hg-30 fl"></div>
            <!--pages start-->
            <ul class="w-560 hg-36 ql_pages m-auto">
                <li class="fl"><a class="" href="#">&lt;</a></li>
                <li class="fl"><a class="cur" href="#">1</a></li>
                <li class="fl"><a class="" href="#">2</a></li>
                <li class="fl"><a class="" href="#">3</a></li>
                <li class="fl"><a class="" href="#">...</a></li>
                <li class="fl"><a class="" href="#">12</a></li>
                <li class="fl"><a class="" href="#">&gt;</a></li>
            </ul>
            <!--pages end-->
            <div class="w-all hg-30 fl"></div>
        </div>
    </div>
    <div class="w-all hg-60"></div>
    <!--main body end--> 
    
</div>
<!--web main body start-->
    <!--web footer start-->
    {include file="public/footer" /}
    <!--web footer copyright start-->
</body>
</html>