<!--公共文件样式-->
{include file="public/head" /}
<!--/公共文件样式-->

<body>
<!--城市与购物车-->
{include file="public/citycar" /}
<!--/城市与购物车-->

<!--搜索-->
{include file="public/serch" /}
<!--/搜索-->
<!--网站导航 start-->
{include file="public/nav" /}
<!--网站导航 end-->
<div class="w-all w-minw bg-c-fcfcfc ovhidden">
    <div class="w-main m-auto ovhidden">
        <!--面包屑 start-->
        <div class="w-main fs-14 ftc-7a7a7a line-h45 m-t-18 m-b-18 fl">
            网站位置：首页  >  齐峰优势        </div>
        <!--面包屑 end-->

            <!--sub nav start -->
            <div class="w-all bg-c-ffffff ovhidden p-t-14 p-b-18">
                <ul class="ql_subnav">
                    <li class="fl"><a href="/index/about/aboutqf" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl">关于齐峰</a></li>
                    <li class="fl"><a href="/index/about/qfys" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl navcur">齐峰优势</a></li>
                    <li class="fl"><a href="/index/about/honor" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl">荣誉资质</a></li>
                    <li class="fl"><a href="/index/about/zxns" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl">招贤纳士</a></li>
                    <li class="fl"><a href="/index/about/show" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl ">联系我们</a></li>
                    <div class="clear"></div>
                </ul>
            </div>

            <!--sub nav end -->
            <div class="w-all hg-10"></div>

        <!--main body start-->
            <div class="w-all">
                <p><img src="__PUBLIC__/HOME_IMG/public/upload/temp/2017/09-18/c11b05dc1155c786ea20643f9887996c.jpg" title="c11b05dc1155c786ea20643f9887996c.jpg"/></p><p><img src="__PUBLIC__/HOME_IMG/public/upload/temp/2017/09-18/7eb8697855b715d82233cd0117c6547d.jpg" title="7eb8697855b715d82233cd0117c6547d.jpg"/></p><p><img src="__PUBLIC__/HOME_IMG/public/upload/temp/2017/09-18/bfeb241e116a9a819ba180718edda498.jpg" title="bfeb241e116a9a819ba180718edda498.jpg"/></p><p><br/></p>            </div>
        <div class="w-all hg-60"></div>
        <!--main body end-->

</div>

    <!--web footer start-->
    {include file="public/footer" /}
    <!--web footer copyright start-->
</body>
</html>