<!--公共文件样式-->
{include file="public/head" /}
<!--/公共文件样式-->
<body>
<!--城市与购物车-->
{include file="public/citycar" /}
<!--/城市与购物车-->

<!--搜索-->
{include file="public/serch" /}
<!--/搜索-->
<!--网站导航 start-->
{include file="public/nav" /}
<!--网站导航 end-->


<!--web main body start-->
<div class="w-all w-minw bg-c-fcfcfc ovhidden">
    <div class="w-main m-auto ovhidden"> 
        <!--面包屑 start-->
        <div class="w-main fs-14 ftc-7a7a7a line-h45 m-t-18 m-b-18 fl"> 网站位置：首页  >  联系我们 </div>
        <!--面包屑 end--> 
        
        <!--sub nav start -->
        <div class="w-all bg-c-ffffff ovhidden p-t-14 p-b-18">
            <ul class="ql_subnav">
                <li class="fl"><a href="/index/about/aboutqf" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl">关于齐峰</a></li>
                <li class="fl"><a href="/index/about/qfys" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl">齐峰优势</a></li>
                <li class="fl"><a href="/index/about/honor" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl">荣誉资质</a></li>
                <li class="fl"><a href="/index/about/zxns" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 navcur fl">招贤纳士</a></li>
                <li class="fl"><a href="/index/about/show" class="dsblock p-l-10 p-r-10 fs-14 ftc-7a7a7a line-h28 m-l-12 m-r-12 fl ">联系我们</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <!--sub nav end -->
        <div class="w-all hg-10"></div>
        <!--main body start-->
        <div class="w-all">
            <div class="w-1140 p-l-30 p-r-30 p-t-20 bg-c-ffffff ovhidden"> 
                <!--left start-->
                <div class="w-410 bd-rs1-ececec ovhidden fl"> 
                    <!--left nav start-->
                    <div class="w-360 p-r-70 fl">
                        <ul class="w-all m-t-20 m-b-100 ovhidden fl">
                            <li class="w-all fl"><a href="#" class="dsblock w-all fs-18 ftc-000000 text-c line-h58 bg-c-f5f5f5 ft-w-b m-b-2 one_hidden fl">加盟专员</a></li>
                            <li class="w-all fl"><a href="#" class="dsblock w-all fs-18 ftc-000000 text-c line-h58 bg-c-f5f5f5 ft-w-b m-b-2 one_hidden fl">运营督导</a></li>
                            <li class="w-all fl"><a href="#" class="dsblock w-all fs-18 ftc-000000 text-c line-h58 bg-c-f5f5f5 ft-w-b m-b-2 one_hidden fl">财务主管</a></li>
                            <li class="w-all fl"><a href="#" class="dsblock w-all fs-18 ftc-000000 text-c line-h58 bg-c-f5f5f5 ft-w-b m-b-2 one_hidden fl">运营总监</a></li>
                            <li class="w-all fl"><a href="#" class="dsblock w-all fs-18 ftc-000000 text-c line-h58 bg-c-f5f5f5 ft-w-b m-b-2 one_hidden fl">教研专员、主管</a></li>
                            <li class="w-all fl"><a href="#" class="dsblock w-all fs-18 ftc-000000 text-c line-h58 bg-c-f5f5f5 ft-w-b m-b-2 one_hidden fl">运营总监</a></li>
                            <li class="w-all fl"><a href="#" class="dsblock w-all fs-18 ftc-000000 text-c line-h58 bg-c-f5f5f5 ft-w-b m-b-2 one_hidden fl">加盟专员加盟专员加盟专员加盟专员加盟专员加盟专员</a></li>
                            <li class="w-all fl"><a href="#" class="dsblock w-all fs-18 ftc-000000 text-c line-h58 bg-c-f5f5f5 ft-w-b m-b-2 one_hidden fl">加盟专员</a></li>
                            <div class="claer"></div>
                        </ul>
                    </div>
                    <div class="w-all fl"> <img src="__PUBLIC__/HOME_PICS/zp_tu.jpg" alt=""/> </div>
                    <!--left nav end--> 
                </div>
                <!--left end--> 
                
                <!--right start-->
                <div class="w-650 fr">
                    <div class="w-all"> 岗位：财务主管
                        
                        地点：济南
                        经验：不限
                        学历：不限
                        职位月薪：3000-5000元/月
                        岗位职责： 全面负责公司财务工作
                        1、准确、及时地做好帐务和结算工作、计核算、登记明细帐和总帐,资金收支进行核算。
                        2、 成本核算,公司月度,年度会计报表的制作。
                        3、 负责公司固定资产的财务管理
                        4、 负责公司税金的计算,申报和缴纳工作,协助有关部门开展财务审计和年检。
                        5、及时做好会计凭证,帐册,报表等财会资料的收集,汇编,归档等会计档案管理工作。
                        6、发票的开具工作等。
                        任职要求：
                        1、财务、会计专业大专以上学历；
                        2、有三年以上相关专业的从业经验；
                        3、熟悉会计报表的处理，会计法规和税法，熟练使用财务软件；
                        4、工作细致，责任感强，良好的沟通能力、团队精神； </div>
                </div>
                <!--right end --> 
            </div>
        </div>
        <div class="w-all hg-40"></div>
        <!--main body end--> 
    </div>
    <!--web main body start--> 
</div>

<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->
</body>
</html>