<!--公共文件样式-->
{include file="public/head" /}
<!--/公共文件样式-->

<body>
<!--城市与购物车-->
{include file="public/citycar" /}
<!--/城市与购物车-->

<!--搜索-->
{include file="public/serch" /}
<!--/搜索-->
<!--网站导航 start-->
{include file="public/nav" /}
<!--网站导航 end-->

<!--web main body start-->
<div class="w-all w-minw bg-c-fcfcfc ovhidden">
    <div class="w-main m-auto ovhidden"> 
        <!--面包屑 start-->
        <div class="w-main fs-14 ftc-7a7a7a line-h45 m-t-18 m-b-18 fl"> 网站位置：首页  >  资讯  >  详情 </div>
        <!--面包屑 end--> 
        
        <!--left start-->
        {volist name="v" id="k"}
        <div class="w-840 fl">
            <div class="w-770 bg-c-ffffff ovhidden p-l-35 p-r-35 fl">
                <h3 class="w-all line-h75 text-c fs-20 ftc-000000 fl">{$k.title}</h3>
            </div>
            <div class="w-770 bg-c-ffffff ovhidden p-l-35 p-r-35 fl">
                <div class="w-770 bg-c-f2f2f2 ovhidden text-c m-b-25 fl">
                	<p class="w-770 fs-12 ftc-8b8b8b line-h30 fl text-c">发布时间：{$k.update_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览次数：{$k.hits}次</p>
                </div>
                <div class="w-770 ovhidden fs-14 line-h28 ftc-676767 m-b-25">
                    <p style="margin-top: 10px; margin-bottom: 10px; padding: 0px; border: 0px; color: rgb(68, 68, 68); font-size: 14px; white-space: normal; widows: 1; line-height: 1.75em; text-align: center;">
                    <span style="margin: 0px; padding: 0px; border: 0px;">&nbsp;&nbsp;
                    <img src="{$k.pic}" title="201705111100261302.jpg" alt="201705111100261302.jpg"/>
                </span></p>
                    <p style="margin-top: 10px; margin-bottom: 10px; padding: 0px; border: 0px; font-family: &quot;Microsoft YaHei&quot;; color: rgb(68, 68, 68); font-size: 14px; white-space: normal; widows: 1; line-height: 1.75em;"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, sans-serif;"><span style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, sans-serif;">{$k.content}</span></p></div>
            </div>
            <ul class="w-840 m-t-10 m-b-10 ovhidden fl">
            	                <li class="fl"><a href="http://www.qifengedu.com/home/article/detail/article_id/1442.html" class="dsblock fl w-410 p-r-10 one_hidden ftc-676767 fs-16 line-h60 fl">上一篇：齐峰教育解读何为真正的双师课堂？</a></li>
                                <li class="fl"><a href="1444.html" class="dsblock fl w-410 p-r-10 one_hidden ftc-676767 fs-16 line-h60 fl">下一篇：山东沂水加盟校开业盛典圆满成功</a></li>
                            </ul>
        </div>
        {/volist}
        <!--left end--> 
        
        <!--right start--> 
        <!--热门资讯 right start-->
        <div class="w-340 fr">
            <div class="w-330 p-l-10 fs-14 bg-c-ffffff ftc-7a7a7a m-b-10 line-h60 fl">热门资讯</div>
            <ul class="w-320 p-l-10 p-r-10 p-b-20 rig_scool bg-c-ffffff fl">
            	                <li class="w-all m-t-20 m-b-2 fl">
                    <a href="http://www.qifengedu.com/home/article/detail/article_id/1451.html" class="dsblock w-102 hg-68 fl ovhidden"><img width="102" height="68" src="../../../../public/upload/article/2017/08-18/9b233c224a8fed550a0a754fc1652d43.jpg" alt="a"/></a>
                    <a href="http://www.qifengedu.com/home/article/detail/article_id/1451.html" class="dsblock w-200 m-t-10 ovhidden fs-16 ftc-000000 line-34 tw_hidden fr">登高望远-齐峰教育给你不一样的高度</a>
                </li>
                                <li class="w-all m-t-20 m-b-2 fl">
                    <a href="http://www.qifengedu.com/home/article/detail/article_id/1442.html" class="dsblock w-102 hg-68 fl ovhidden"><img width="102" height="68" src="__PUBLIC__/HOME_IMG/public/upload/article/2017/08-24/50ae758ba26a43da3f2e3d4cb3ab8d68.jpg" alt="a"/></a>
                    <a href="http://www.qifengedu.com/home/article/detail/article_id/1442.html" class="dsblock w-200 m-t-10 ovhidden fs-16 ftc-000000 line-34 tw_hidden fr">齐峰教育解读何为真正的双师课堂？</a>
                </li>
                                <li class="w-all m-t-20 m-b-2 fl">
                    <a href="http://www.qifengedu.com/home/article/detail/article_id/1443.html" class="dsblock w-102 hg-68 fl ovhidden"><img width="102" height="68" src="../../../../public/upload/article/2017/08-24/cae85047c4f6d15eeda5e73e4af32a43.jpg" alt="a"/></a>
                    <a href="http://www.qifengedu.com/home/article/detail/article_id/1443.html" class="dsblock w-200 m-t-10 ovhidden fs-16 ftc-000000 line-34 tw_hidden fr">为什么要选择加盟</a>
                </li>
                                <li class="w-all m-t-20 m-b-2 fl">
                    <a href="1444.html" class="dsblock w-102 hg-68 fl ovhidden"><img width="102" height="68" src="../../../../public/upload/article/2017/08-24/7a30c2dfe4f801bf4735f4cb4b02ed05.jpg" alt="a"/></a>
                    <a href="1444.html" class="dsblock w-200 m-t-10 ovhidden fs-16 ftc-000000 line-34 tw_hidden fr">山东沂水加盟校开业盛典圆满成功</a>
                </li>
                                <div class="clear"></div>
            </ul>
        </div>
        <!--热门资讯 right start--> 
        <!--right end --> 
        
    </div>
</div>
<!--like start-->
{include file="public/like"}
<!--like end-->
<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->
</body>
</html>