          
     <p style="text-align:center"><a href="/home"><img src="{$Think.HOME_IMG_URLA}null_cart2.jpg"  /></a></p>
     <script>
	    $(".sc-acti-list,.sc-pro-list").hide();
     </script>
  

<div class="sc-pro-list">
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <tr class="ba-co-danhui">
        <th class="pa-le-9" align="center" valign="middle">&nbsp;&nbsp;</th>
        <th align="center" valign="middle" colspan="2">课程</th>
        <th align="center" valign="middle">原价（元）</th>                        
        <th align="center" valign="middle">当前价格（元）</th>
        <th align="center" valign="middle">数量</th>
        <th align="center" valign="middle">小计（元）</th>
        <th align="center" valign="middle">操作</th>
      </tr>            
           
    </table>
</div>

<div class="sc-total-list ma-to-20 sc-pro-list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="pa-le-28 gwx-xm-dwz">
            <label >
            <input type="checkbox" name="select_all" id="select_all"  onchange="check_all();" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;全选
            </label>
            <a href="javascript:void(0);" onclick="del_cart_more();">删除选中课程</a>
        </td>
        <td width="190" align="right">总计金额：</td>
        <td width="69" align="right">￥0</td>
        <td>&nbsp;</td>
      </tr>
      
    </table>
</div>