
<!--like start-->
<div class="w-all w-minw bg-c-f6f6f6 ovhidden">
    <div class="w-main m-auto">
        <!--title start-->
        <div class="w-main ovhidden p-t-10 fl">
            <h3 class="fl fs-20 ft-w-b line-h40"><span class="dsblock ql_icon ql_like tx-ind m-r-15 fl">猜你喜欢</span>猜你喜欢</h3>
        </div>
        <!--title end-->
        <ul class="ql_likeclass w-1210 ovhidden">
            <li class="w-230 bg-c-ffffff m-t-10 m-r-6 m-l-6 m-b-10 fl"> <a href="课程详情.html" class="dsblock w-230 hg-165 ovhidden ps-r"> <img src="__PUBLIC__/HOME_PICS/12.jpg" alt=""/> </a> <a href="课程详情.html" class="w-210 p-l-10 p-r-10 fl">
                <h3 class="w-all fs-16 ftc-000000 line-h32  one_hidden  m-t-6 fl">初中全科1V1定制初中全科1V1定制</h3>
                <span class="dsblock w-all fs-20 ftc-ff0000 line-h32 fl">￥：300</span> </a> </li>
            <li class="w-230 bg-c-ffffff m-t-10 m-r-6 m-l-6 m-b-10 fl"> <a href="课程详情.html" class="dsblock w-230 hg-165 ovhidden ps-r"> <img src="__PUBLIC__/HOME_PICS/12.jpg" alt=""/> </a> <a href="课程详情.html" class="w-210 p-l-10 p-r-10 fl">
                <h3 class="w-all fs-16 ftc-000000 line-h32  one_hidden  m-t-6 fl">初中全科1V1定制初中全科1V1定制</h3>
                <span class="dsblock w-all fs-20 ftc-ff0000 line-h32 fl">￥：300</span> </a> </li>
            <li class="w-230 bg-c-ffffff m-t-10 m-r-6 m-l-6 m-b-10 fl"> <a href="课程详情.html" class="dsblock w-230 hg-165 ovhidden ps-r"> <img src="__PUBLIC__/HOME_PICS/12.jpg" alt=""/> </a> <a href="课程详情.html" class="w-210 p-l-10 p-r-10 fl">
                <h3 class="w-all fs-16 ftc-000000 line-h32  one_hidden  m-t-6 fl">初中全科1V1定制初中全科1V1定制</h3>
                <span class="dsblock w-all fs-20 ftc-ff0000 line-h32 fl">￥：300</span> </a> </li>
            <li class="w-230 bg-c-ffffff m-t-10 m-r-6 m-l-6 m-b-10 fl"> <a href="课程详情.html" class="dsblock w-230 hg-165 ovhidden ps-r"> <img src="__PUBLIC__/HOME_PICS/12.jpg" alt=""/> </a> <a href="课程详情.html" class="w-210 p-l-10 p-r-10 fl">
                <h3 class="w-all fs-16 ftc-000000 line-h32  one_hidden  m-t-6 fl">初中全科1V1定制初中全科1V1定制</h3>
                <span class="dsblock w-all fs-20 ftc-ff0000 line-h32 fl">￥：300</span> </a> </li>
            <li class="w-230 bg-c-ffffff m-t-10 m-r-6 m-l-6 m-b-10 fl"> <a href="课程详情.html" class="dsblock w-230 hg-165 ovhidden ps-r"> <img src="__PUBLIC__/HOME_PICS/12.jpg" alt=""/> </a> <a href="课程详情.html" class="w-210 p-l-10 p-r-10 fl">
                <h3 class="w-all fs-16 ftc-000000 line-h32  one_hidden  m-t-6 fl">初中全科1V1定制初中全科1V1定制</h3>
                <span class="dsblock w-all fs-20 ftc-ff0000 line-h32 fl">￥：300</span> </a> </li>
        </ul>
        <div class="w-amin hg-30 ovhidden"></div>
    </div>
</div>
<!--like end-->