<div class="w-all w-minw hg-60 bd-bs-e9511b bg-c-ffffff ql_webnav"> 
    <!--网站导航 start-->
    <div class="w-main m-auto ps-r hg-60"> 
        <!--全部商品分类-->
        <div class="hc_lnav jslist">
            <div class="allbtn">
                <h2><a href="#">全部商品分类</a></h2>
                <ul style="width:250px" class="jspop box">
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a href="#">小学</a> </div>
                        <dl>
                            <dd> <a href="#">一年级</a><span>/</span> <a href="#">二年级</a><span>/</span> <a href="#">三年级</a> <a href="#">四年级</a><span>/</span> <a href="#">五年级</a><span>/</span> <a href="#">六年级</a> <a href="#">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a href="#">一年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">二年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">三年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a><span>|</span> <a class="ui-link" href="#">化学</a><span>|</span> <a class="ui-link" href="#">全日制托管</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">特色课程 ></a></dt>
                                <dd> <a class="ui-link" href="#">双师课堂</a><span>|</span> <a class="ui-link" href="#">名师精讲班</a><span>|</span> <a class="ui-link" href="#">学霸进阶精英班</a> </dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航--> 
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a href="#">小学</a> </div>
                        <dl>
                            <dd> <a href="#">一年级</a><span>/</span> <a href="#">二年级</a><span>/</span> <a href="#">三年级</a> <a href="#">四年级</a><span>/</span> <a href="#">五年级</a><span>/</span> <a href="#">六年级</a> <a href="#">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a href="#">一年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">二年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">三年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a><span>|</span> <a class="ui-link" href="#">化学</a><span>|</span> <a class="ui-link" href="#">全日制托管</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">特色课程 ></a></dt>
                                <dd> <a class="ui-link" href="#">双师课堂</a><span>|</span> <a class="ui-link" href="#">名师精讲班</a><span>|</span> <a class="ui-link" href="#">学霸进阶精英班</a> </dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航--> 
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a href="#">小学</a> </div>
                        <dl>
                            <dd> <a href="#">一年级</a><span>/</span> <a href="#">二年级</a><span>/</span> <a href="#">三年级</a> <a href="#">四年级</a><span>/</span> <a href="#">五年级</a><span>/</span> <a href="#">六年级</a> <a href="#">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a href="#">一年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">二年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">三年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a><span>|</span> <a class="ui-link" href="#">化学</a><span>|</span> <a class="ui-link" href="#">全日制托管</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">特色课程 ></a></dt>
                                <dd> <a class="ui-link" href="#">双师课堂</a><span>|</span> <a class="ui-link" href="#">名师精讲班</a><span>|</span> <a class="ui-link" href="#">学霸进阶精英班</a> </dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航--> 
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a href="#">小学</a> </div>
                        <dl>
                            <dd> <a href="#">一年级</a><span>/</span> <a href="#">二年级</a><span>/</span> <a href="#">三年级</a> <a href="#">四年级</a><span>/</span> <a href="#">五年级</a><span>/</span> <a href="#">六年级</a> <a href="#">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a href="#">一年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">二年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">三年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a><span>|</span> <a class="ui-link" href="#">化学</a><span>|</span> <a class="ui-link" href="#">全日制托管</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">特色课程 ></a></dt>
                                <dd> <a class="ui-link" href="#">双师课堂</a><span>|</span> <a class="ui-link" href="#">名师精讲班</a><span>|</span> <a class="ui-link" href="#">学霸进阶精英班</a> </dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                </ul>
            </div>
        </div>
        <!--全部商品分类-->
         <ul class="w-950 hg-60 ql_nav">
        <li><a href="/index/index/index" class="cur">首页</a></li>
        <li><a href="/index/course/show">小学</a></li>
        <li><a href="/index/room/show">双师课堂</a></li>
        <li><a href="/index/calendar/show">考试日历</a></li>
        <li><a href="/index/teacher/show">名师</a></li>
        <li><a href="/index/joinin/show" class="ql_navhot">招商加盟</a></li>
        <li><a href="/index/school/show">分校</a></li>
        <li><a href="/index/details/show">资讯</a></li>
        <li><a href="/index/about/show">联系我们</a></li>
    </ul>
    </div>
</div>