<!--网站导航 start-->
<div class="w-all w-minw hg-60 bd-bs-e9511b bg-c-ffffff ql_webnav"> 
    <!--网站导航 start-->
    <div class="w-main m-auto ps-r hg-60"> 
        <!--全部商品分类-->
        <div class="hc_lnav jslist">
            <div class="allbtn">
                <h2><a href="#">全部商品分类</a></h2>
                <ul style="width:250px" class="jspop box">

                    <!--导航-->
{foreach $info as $val}
<li class="a1">
<div class="tx"><a href="" font-size="2px">{$val.name}</a> </div>
<dl>
{foreach $val['child'] as $vall}
<dd> <a href="/index/course/show" style="size:1px">{$vall.name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></dd>
 {/foreach}
</dl>

<div class="pop">
{foreach $val['child'] as $vall}
<dl>
<dt><a href="/index/course/show">{$vall.name} ></a></dt>

<dd> 
{foreach $vall['child2'] as $valll}
<a class="ui-link" href="/index/course/show">&nbsp;&nbsp;{$valll.name}</a>
{/foreach}
</dd>
</dl>
{/foreach}
<div class="clr"></div>
</div>
</li>
{/foreach}
                   <!--导航-->
                </ul>
            </div>
        </div>
        <!--全部商品分类-->
         <ul class="w-950 hg-60 ql_nav">
        <li><a href="/index/index/index" class="cur">首页</a></li>
        <li><a href="/index/course/show">课程</a></li>
        <li><a href="/index/room/show">双师课堂</a></li>
        <li><a href="/index/calendar/show">考试日历</a></li>
        <li><a href="/index/teacher/show">名师</a></li>
        <li><a href="/index/joinin/show" class="ql_navhot">招商加盟</a></li>
        <li><a href="/index/school/show">分校</a></li>
        <li><a href="/index/details/show">资讯</a></li>
        <li><a href="/index/about/show">联系我们</a></li>
    </ul>
    </div>
</div>