<div class="le-menu fl">
    <div class="menu-ul">
        <ul>
            <li class="ma"><i class="account-acc1"></i>交易中心</li>
            <li><a href="/index/person/mydingd">我的订单</a></li>
            <!--<li><a href="">我的预售</a></li>-->
            <li><a href="/index/person/mycomment">我的评价</a></li>
        </ul>
        <!-- <ul> -->
        <!-- <li class="ma"><i class="account-acc2"></i>资产中心</li> -->
        <!-- <li><a href="/Home/User/coupon.html">我的优惠券</a></li> -->
        <!-- <li><a href="">我的购物卡</a></li> -->
        <!-- <li><a href="/Home/User/recharge.html">账户余额</a></li> -->
        <!-- <li><a href="/Home/User/account.html">我的积分</a></li> -->
        <!-- <li><a href="">积分换券明细</a></li> -->
        <!-- </ul> -->
        <ul>
            <li class="ma"><i class="account-acc3"></i>关注中心</li>
            <!--<li><a href="/Home/User/goods_collect.html">我的收藏</a></li>-->
            <!--<li><a href="">曾经购买</a></li>-->
            <li><a href="/index/person/visitlog">我的足迹</a></li>
        </ul>
        <ul>
            <li class="ma"><i class="account-acc4"></i>我的信息</li>
            <li><a href="/index/person/info">个人信息</a></li>
            <!--<li><a href="/Home/User/bind_auth.html">账号绑定</a></li>-->
            <li><a href="/index/person/address">报名信息管理</a></li>
            <li><a href="/index/person/safetyset">安全设置</a></li>
        </ul>
        <!-- <ul> -->
        <!-- <li class="ma"><i class="account-acc5"></i>服务中心</li> -->
        <!-- <li><a href="">我的发票</a></li> -->
        <!-- <li><a href="/Home/User/return_goods_list.html">退货管理</a></li> -->
        <!-- </ul> -->
    </div>
</div>