<!--公共文件样式-->
{include file="public/head" /}
<!--/公共文件样式-->

<body>
<!--城市与购物车-->
{include file="public/citycar" /}
<!--/城市与购物车-->

<!--搜索-->
{include file="public/serch" /}
<!--/搜索-->
<!--网站导航 start-->
{include file="public/nav" /}
<!--网站导航 end--> 

<!--web main body start-->
<div class="w-all w-minw ovhidden">
    <div class="w-main m-auto ovhidden"> 
        <!--面包屑 start-->
        <div class="w-main fs-14 ftc-7a7a7a line-h45 p-b-18 m-t-18 bd-bs-e7e7e7 fl"> 网站位置：首页  >  双师课堂 </div>
        <!--面包屑 end--> 
    </div>
    <!--web main body start-->
    <div class="w-all w-minw ovhidden">
        <div style="text-align: center; height: 392px;"><img src="__PUBLIC__/static/index/tearch/1.jpg" width="1200" height="392" alt="传统课堂"/></div>
        <div class="w-all w-minw ovhidden bg-c-fcfcfc">
            <div style="text-align: center; height: 300px;"><img src="__PUBLIC__/static/index/tearch/2.jpg" width="1067" height="300" alt="双师课堂  应运而生"/></div>
            <div style="text-align: center; height: 326px;"><img src="__PUBLIC__/static/index/tearch/3.jpg" width="1067" height="326" alt="双师课堂  应运而生"/></div>
            <div style="text-align: center; height: 235px;"><img src="__PUBLIC__/static/index/tearch/4.jpg" width="1200" height="235" alt="双师课堂  应运而生"/></div>
            <div style="text-align: center; height: 253px;"><img src="__PUBLIC__/static/index/tearch/5.jpg" width="1200" height="253" alt="双师课堂  应运而生"/></div>
        </div>
        <div class="w-all w-minw ovhidden">
            <div style="background: url('__PUBLIC__/static/index/tearch/6.jpg') no-repeat center top; height:365px;"></div>
            <div style="background: url('__PUBLIC__/static/index/tearch/7.jpg') no-repeat center top; height:225px;"></div>
        </div>
        <div class="w-main m-auto">
            <div style="text-align: center; height: 364px;"><img src="__PUBLIC__/static/index/tearch/8.jpg" width="1067" height="364" alt="主讲名师"/></div>
            <div style="text-align: center; height:480px; margin-bottom: 27px;">
                <embed src="http://player.video.qiyi.com/044551796c381fe13a4e316e8ac750cf/0/0/v_19rr8afe2c.swf-albumId=764783000-tvId=764783000-isPurchase=0-cnId=24" allowFullScreen="true" quality="high" width="640" height="480" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
            </div>
            <div style="text-align: center; height: 60px; margin-bottom: 35px;"><a href="#"><img src="__PUBLIC__/static/index/tearch/9.jpg" width="220" height="60" alt="查看详细课程"/></a></div>
        </div>
        <div class="w-all w-minw ovhidden bg-c-fafafa">
            <div style="background: url('__PUBLIC__/static/index/tearch/10.jpg') no-repeat center top; height:325px;"></div>
            <div style="background: url('__PUBLIC__/static/index/tearch/11.jpg') no-repeat center top; height:311px;"></div>
        </div>
        <div class="w-all w-minw ovhidden bg-c-ffffff">
            <div style="text-align: center; height: 426px;"><img src="__PUBLIC__/static/index/tearch/12.jpg" width="825" height="426" alt="双师课堂网上报名流程"/></div>
        </div>
    </div>
    <!--web main body end--> 
</div>
<!--like end--> 
<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->
</body>
</html>