<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">



</head>
<body>



<form action="/index/person/dz" method="post">
    <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="right"><span class="xh">*</span>姓名：&nbsp;</td>
            <td><input class="wi80-BFB" name="consignee" type="text" value="" maxlength="12" required/></td>
        </tr>
        <tr>
            <td align="right"><span class="xh">*</span>联系地址：&nbsp;</td>
            <td>
                    <div id="distpicker5">
                        <select class="form-control" name="sheng" id="province10"></select>
                        <select class="form-control" name="s"  id="city10"></select>
                        <select class="form-control" name="x" id="district10"></select>
                    </div>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><span class="xh">*</span>详细地址：&nbsp;</td>
            <td><textarea class="he110 wi80-BFB re-no" name="address" id="address" required placeholder="详细地址" maxlength="100"></textarea></td>
        </tr>

        <tr>
            <td align="right"><span class="xh">*</span>手机或固定电话：&nbsp;</td>
            <td>
                <input class="wi40-BFB" id="phone" type="text" name="mobile" value=""  maxlength="15"/>
            </td>
        </tr>
        <tr>
            <td class="pa-50-0">&nbsp;</td>
            <td align="right">
                <button type="submit" disabled id="sub" class="box-ok ma-le--70"><span>保存报名信息</span></button>
            </td>
        </tr>
    </table>
</form>


<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="__PUBLIC__/HOME_JS/distpicker.data.js"></script>
<script src="__PUBLIC__/HOME_JS/distpicker.js"></script>
<script src="__PUBLIC__/HOME_JS/main.js"></script>
<script>
    //判断号码
    $('td').mouseout(function () {
        $.ajax({
            url:'/index/user/phone',
            type:'post',
            data:{name:$('#phone').val()},
            success:success
        });
        function success(data)
        {
            if (data == 1) {
                $('#sub').attr('disabled',false);
            } else if (data == 2){
                $('#sub').attr('disabled',true);
            } else if (data == 0) {
                $('#sub').attr('disabled',true);
            }
        }
    });


</script>
</body>
</html>