{include file="public/personheader"}
<!--<script src="/template/pc/rainbow/static/js/common.js"></script>-->
<!--------收货地址，物流运费-开始-------------->
<!--<script src="/template/pc/rainbow/static/js/location.js"></script>-->
<!--------收货地址，物流运费--结束-------------->

<div class="home-index-middle">
    <div class="w1224">
        <div class="g-crumbs">
            <a href="/index/person">个人中心</a>
        </div>
        <div class="home-main">
               {include file="public/personleft"}
            <div class="ri-menu fr">
                <div class="menu-ri-t p">
                    <div class="mu-head fl">
                        <img width="100" height="100" src="http://thirdqq.rqlogo.cn/qqapp/101428070/842959D9B4F0C89C15C848441B83F07C/100"/>
                    </div>
                    <div class="mu-midd fl">
                        <a class="mu-m-phone" href="/Home/User/index.html">{$Think.Session.name}</a>
                        <!-- <a class="mu-m-vip">注册会员</a> -->
                        <p>
                            <span>账户安全：</span>
			    					<span class="tt-zd">
                                                                                    <i style="width: 30%;"></i>
                                        			    					</span>
                            <span class="c_ye">较低</span>
                            <!--<a class="c_bl" href="">提升</a>-->
                        </p>
                    </div>
                    <div class="mu-afte fl">
                        <!-- <ul class="mu-a1">
                            <li class="">
                               <a href="">
                                   <i class="icon-card"></i>
                                   <span>会员折扣</span>
                                   <em class="mu-unit">&nbsp;折</em>
                                   <em class="mu-num">10</em>
                                   <i class="icon-ar"></i>
                                </a>
                            </li>
                            <li class="">
                                <a href="/Home/User/recharge.html">
                                   <i class="icon-balance"></i>
                                   <span>账户余额</span>
                                   <em class="mu-unit">&nbsp;元</em>
                                   <em class="mu-num">0.00</em>
                                   <i class="icon-ar"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="mu-a2">
                            <li>
                                <a href="/Home/User/account.html">
                                   <i class="icon-point"></i>
                                   <span>可用积分</span>
                                   <em class="mu-unit">&nbsp;分</em>
                                   <em class="mu-num">0</em>
                                   <i class="icon-ar"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/User/coupon.html">
                                   <i class="icon-coupon"></i>
                                   <span>优惠券</span>
                                   <em class="mu-unit">&nbsp;张</em>
                                   <em class="mu-num">0</em>
                                   <i class="icon-ar"></i>
                                </a>
                            </li>
                        </ul>-->
                    </div>
                </div>
                <div class="order-list p">
                    <div class="ddlb-ayh">
                        <div class="ddlb-tit">
                            <h1>待处理订单</h1>
                            <a class="u-view-all" href="/index/person/mydingd">查看全部订单</a>
                            <!--<i class="u-sep"></i>-->
                            <!--<a class="u-view-pre" href="">预售单<span class="hide">(待付款 <em>0</em>)</span></a>-->
                        </div>

                        <div class="car-none-pl">
                            <i class="account-acco1"></i>您最近没有待处理订单，<a href="/">快去逛逛吧~</a>
                        </div>

                        <div class="order-alone-li">
                        </div>
                    </div>
                </div>
                <!-- <div class="order-list bgno p">
                    <div class="ddlb-zy">
                        <div class="coll-coupon fl">
                            <div class="coll-etl">
                                                                        <div class="ddlb-tit">
                                   <h1>我的收藏</h1>
                                   <!--<a class="cx-fk" class="J-childCollect" href="/Home/User/goods_collect.html">促销（<em>0</em>）</a>--
                                   <a class="u-view-all" href="/Home/User/goods_collect.html">查看更多</a>
                                </div>
                                <div class="shop-sc-t">
                                    <ul>
                                                                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="coll-coupon malrh fl">
                            <div class="coupon-etl">
                                <div class="ddlb-tit">
                                   <h1>我的优惠券</h1>
                                   <a class="u-view-all" href="/Home/User/coupon.html">查看更多</a>
                                </div>
                                <div class="shop-sc-t">
                                                                            </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!--like start-->
<!--like end-->
<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->
</body>
</html>