{include file="public/personheader"}



<div class="home-index-middle">
    <div class="w1224">
        <div class="g-crumbs">
            <a href="/index/person">个人中心</a>
            <i class="litt-xyb"></i>
            <span>安全设置</span>
        </div>
        <div class="home-main">
            {include file="public/personleft"}

            <div class="ri-menu fr">
                <div class="menumain">
                    <div class="goodpiece">
                        <h1>安全设置</h1>
                        <!--<a href=""><span class="co_blue">帮助</span></a>-->
                    </div>
                    <div class="menu-ri-t setsafe p">
                        <div class="mu-head fl">
                            <img src="/template/pc/rainbow/static/images/pers.png"/>
                        </div>
                        <div class="mu-midd fl">
                            <a class="mu-m-phone" href="">XBD</a>
                            <a class="dmht dark" >低</a>
                            <a class="dmht " >中</a>
                            <a class="dmht " >高</a>
                            <p class="advice">建议你启动全部安全设置，以保障账户及资金安全</p>
                        </div>
                    </div>
                    <div class="safe_list_set">
                        <ul>
                            <li class="sx2"><span>登录密码</span></li>
                            <li class="sx1"><span>互联网账号存在被盗风险，建议您定期更改密码以及保护账户安全。</span></li>
                            <li class="sx3"><a class="co_blue" href="/index/person/infopwd">修改</a></li>
                        </ul>
                        <!-- <ul>
                            <li class="sx2"><span>支付密码</span></li>
                            <li class="sx1"><span>申请提现或余额支付时，均须支付密码进行身份验证。</span></li>
                            <li class="sx3"><a class="co_blue" href="/Home/User/paypwd.html">设置</a></li>
                        </ul> -->
                        <ul>
                            <li class="sx2"><span>手机验证</span></li>
                            <li class="sx1"><span>您没有绑定手机。互联网账号存在被盗风险，建议您立即绑定一保护账户安全。</span></li>
                            <li class="sx3"><a class="co_blue " href="/index/person/infophone">未验证(点击验证)</a></li>
                        </ul>
                        <ul>
                            <li class="sx2"><span>邮箱验证</span></li>
                            <li class="sx1"><span>您没有绑定邮箱。互联网账号存在被盗风险，建议您立即绑定一保护账户安全。</span><br /></li>
                            <li class="sx3"><a class="co_blue " href="/index/person/infoemail">未验证(点击验证)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->
<!--footer-e-->
</body>
</html>