{include file="public/personheader"}

<div class="home-index-middle">
    <div class="w1224">
    <div class="g-crumbs">
    <a href="/index/person">个人中心</a>
    <i class="litt-xyb"></i>
    <span>我的足迹</span>
    </div>
</div>
</div>   


 {include file="public/personleft"}

    <div class="ri-menu fr">
    <div class="menumain p">
    <div class="goodpiece">
    <h1>我的足迹</h1>
    <!--<a href=""><span class="co_blue">帮助</span></a>-->
    </div>


    <div class="perinc_pri p">
    <div class="near_threet">以下是你最近30天的浏览记录</div>
    <div class="dxchoi">
    </div>
    </div>


<div class="feetprin p ma-to-20">
<div class="shop-list-splb m-prod-list">
                            <!--足迹 -s-->


<table border="1" height="100%" width="1000" border-color="red">
       

         <tr>
                <td width="25%" align="center">浏览时间</td>
                <td width="40%" align="center">名称</td>
                <td width="25%" align="center">价格</td>
                <td width="10%" align="center">点击删除</td>

        </tr>     

        {foreach $data as $val}   
        <tr>
        <td align="center"><?php echo date("Y-m-d,H:i:s",$val['addtime']) ?> </td>
        <td align="center">
        {$val.title}
        {if $val['getVideo']}
        <video class="wi63 hi63" src="{$val['getVideo']}" height="100px"></video>
        {else}
        <img height="100px" src="{$val['getPic']}">  
        {/if}  
        </td>
        <td align="center">{$val.price}</td>
        <td align="center" ><span style="cursor:pointer" onclick="demo(this,{$val.id})">删除</span></td>

        </tr>  
    
    {/foreach}

</table>


    <script>

    function demo(obj,id){
        console.log(id);
        
        $.ajax({

            type : 'get',
            url  : 'Dovisitlog',
            data : {"id":id},
        success  : function(data){

            if (data == 1) {

                $(obj).parents("tr").remove();

            };

        }
    });
}


    </script>


</div>
</div>
</div>
</div>

<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->

</body>
</html>