{include file="public/personheader"}


<div class="home-index-middle">
    <div class="w1224">
        <div class="g-crumbs">
            <a href="/index/person">个人中心</a>
            <i class="litt-xyb"></i>
            <span>我的足迹</span>
        </div>
        <div class="home-main">
            {include file="public/personleft"}

            <div class="ri-menu fr">
                <div class="menumain p">
                    <div class="goodpiece">
                        <h1>我的足迹</h1>
                        <!--<a href=""><span class="co_blue">帮助</span></a>-->
                    </div>
                    <!-- <div class="foot-print p">
                         <ul>
                             <li class="red">
                             <a href="/home/User/visit_log.html">全部（2）</a>
                             </li>
                                                                     <li >
                                 <a href="/home/User/visit_log/cat_id/20.html" >家庭NLP心理教育（1）</a>
                                 </li>
                                                                     <li >
                                 <a href="/home/User/visit_log/cat_id/66.html" >物理（1）</a>
                                 </li>
                                                             </ul>
                         <!--<span class="moanmo_b"><a href="">更多<i class="mm_b"></i></a></span>
                     </div>-->
                    <div class="perinc_pri p">
                        <div class="near_threet">
                            以下是你最近30天的浏览记录
                        </div>
                        <div class="dxchoi">
                            <!--<a href="/home/User/visit_log/cat_id/66/prom_type/3.html" >-->
                            <!--<input type="checkbox" name="" id="cx" value=""/><label for="cx">仅显示促销</label>-->
                            <!--</a>-->
                            <!--<input type="checkbox" name="" id="jj" value=""/><label for="jj">仅显示降价</label>-->
                            <!--<a href="javascript:void(0);">清空</a>-->
                        </div>
                    </div>
                    <div class="feetprin p ma-to-20">
                        <div class="shop-list-splb m-prod-list">
                            <!--足迹 -s-->
                            <div class="u-title">
                                <i class=""></i>
                                <span class="z-date">周二</span>
                                <span class="z-time">2018-03-13</span>
										<span class="z-del">
											<a class="J-delHistory" style="display:none" href="javascript:;" type="2" text="2016-12-13">删除</a>
										</span>
                            </div>
                            <ul>
                                <!--商品-s-->
                                <li>
                                    <div class="s_xsall">
                                        <div class="xs_img">
                                            <a href="/Home/Goods/goodsInfo/id/245.html">
                                                <img src="__PUBLIC__/HOME_IMG/public/upload/goods/thumb/245/goods_thumb_245_80_80.jpeg" style="display: inline;"></a></div>
                                        <div class="shop_name2">
                                            <a href="/Home/Goods/goodsInfo/id/245.html">
                                                初三物理                                                            </a>
                                        </div>
                                        <div class="price-tag">
                                            <span class="now"><em class="li_xfo">￥</em><em>2600.00</em></span>
                                            <!--<span class="old"><em>￥</em><em>200</em></span>-->
                                        </div>
                                    </div>
                                    <div class="dele" onclick="del_visit(82)"></div>
                                </li>
                                <!--商品-e-->
                            </ul>
                            <div class="u-title">
                                <i class="gray_ryh"></i>
                                <span class="z-date">更早以前</span>
                                <span class="z-time">2018-02-26</span>
										<span class="z-del">
											<a class="J-delHistory" style="display:none" href="javascript:;" type="2" text="2016-12-13">删除</a>
										</span>
                            </div>
                            <ul>
                                <!--商品-s-->
                                <li>
                                    <div class="s_xsall">
                                        <div class="xs_img">
                                            <a href="/Home/Goods/goodsInfo/id/250.html">
                                                <img src="__PUBLIC__/HOME_IMG/public/upload/goods/thumb/245/goods_thumb_250_230_230.jpeg" style="display: inline;"></a></div>
                                        <div class="shop_name2">
                                            <a href="/Home/Goods/goodsInfo/id/250.html">
                                                亲子成长系列之专注力                                                            </a>
                                        </div>
                                        <div class="price-tag">
                                            <span class="now"><em class="li_xfo">￥</em><em>2180.00</em></span>
                                            <!--<span class="old"><em>￥</em><em>200</em></span>-->
                                        </div>
                                    </div>
                                    <div class="dele" onclick="del_visit(73)"></div>
                                </li>
                                <!--商品-e-->
                            </ul>
                            <!--足迹 -e-->
                        </div>
                    </div>
                    <p class="end_cord" style="display: none;">已到最后，只保存最近30天的记录</p>
                    <div class="page p">
                        <div class='dataTables_paginate paging_simple_numbers'><ul class='pagination'>    </ul></div>                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--web footer start-->
{include file="public/footer" /}
<!--web footer copyright start-->
<script type="text/javascript">
    $(function(){
        $('.foot-print ul li').click(function(){
            $(this).addClass('red').siblings().removeClass('red');
        })
    })

    function del_visit(visit_id){
        $.ajax({
            url: "/index.php?m=home&c=user&a=del_visit_log",
            type:'post',
            data:{visit_id:visit_id},
            dataType:'json',
            success:function(res){
                if(res.status == 1){
                    layer.msg(res.msg, {icon: 1, time: 1000});
                    window.location.reload()
                }else{
                    layer.msg(res.msg, {icon: 2, time: 1000});
                }
            }
        })
    }
</script>
</body>
</html>