<!--_meta 作为公共模版分离出去-->
{include file="public/meta" /}
<!--/meta 作为公共模版分离出去-->

<title>意见反馈 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<!--_header 作为公共模版分离出去-->
{include file="public/header" /}
<!--/_header 作为公共模版分离出去-->
<!--_menu 作为公共模版分离出去-->
{include file="public/menu" /}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span> 意见反馈 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c"> 日期范围：
                <!--{literal}-->
                <!--<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">-->
                <!----->
                <!--<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">-->
                <!--{/literal}-->
                <input type="text" class="input-text" style="width:250px" placeholder="输入关键词" id="" name="">
                <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜意见</button>
            </div>
            <form action="/admin/comment/del" method="post">
            <div class="cl pd-5 bg-1 bk-gray mt-20"><button> <span class="l"><a class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </button></span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" name="" value=""></th>
                        <th width="60">ID</th>
                        <th width="60">Details</th>
                        <th>留言内容</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    {volist name="data" id="con"}
                    <tbody>
                    <tr class="text-c">
                        <td><input type="checkbox" value="{$con.id}" name="checkb[]"></td>
                        <td>{$con.id}</td>
                        <td>{$con.title}</td>
                        <td class="text-l"><div class="c-999 f-12">
                            <u style="cursor:pointer" class="text-primary" >{$con.username}</u> <time>{$con.create_time}</time> <span class="ml-20">{$con.phone}</span> <span class="ml-20">{$con.email}</span></div>
                              <br />
                            <div>{$con.content}</div></td>
                        <!--<td class="td-manage"><a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>-->
                        <td class="td-manage"> <a title="删除" href="javascript:;" onclick="member_del(this,{$con.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>

                    </tbody>
                    {/volist}
                </table>
            </div>
            </form>
        </article>
    </div>
</section>


<!--_footer 作为公共模版分离出去-->
{include file="public/footer" /}
<!--/_footer /作为公共模版分离出去-->
<script type="text/javascript">

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url: '/admin/comment/del?id='+id,
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }
            });
        });
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>