<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录-齐峰教育官网-小初高个性化教育项目综合运营商</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/HOME_CSS/tpshop.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/HOME_CSS/myaccount.css" />
    <script src="__PUBLIC__/HOME_JS/layer/jQuery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/HOME_JS/layer/layer/layer.js" type="text/javascript"></script>
    <style>
        #sub{width:200px;height:35px;line-height:35px;background: #F3FBFE; no-repeat;border:none;    margin-left: 82px;}
    </style>
</head>
<body>
<div class="loginsum_cm">
    <div class="w1224 p">
        <div class="login-dl">
            <a href="/" title="首页">
                <img src="__PUBLIC__/HOME_IMG/e75573654d7107b7398f9d16a8a27c05.png"/>
            </a>
        </div>
        <div class="login-welcome">
            <span>欢迎登录</span>
        </div>
    </div>
</div>
<div class="loginsum_main" style="background: #e9e1d6;">
    <div class="w1224 p">
        <div class="advertisement">
        	<img src="__PUBLIC__/HOME_IMG/login_pic.jpg" title="" style=""/>
        </div>
        <div class="login_form">
            <div class="lo_intext">
                <div class="layel1">
                    <span>账户登录</span>
                </div>
                <form id="loginform" method="post" action="/index/user/dologin">
                    <div class="layel2">
                        <div class="text_uspa">
                            <label class="judgp uspa_user"></label>
                            <input type="text" autofocus class="text_cmu" value="" required placeholder="手机号/邮箱" name="username" id="username" autocomplete="off">
                        </div>
                        <div class="text_uspa">
                            <label class="judgp uspa_pwd"></label>
                            <input type="password" class="text_cmu" required value="" placeholder="密码" name="password" id="password" autocomplete="off">
                        </div>
                        <div class="text_uspa check_cum">
                            <input type="text" class="text_cmu" value="" placeholder="验证码" name="yzm" id="yzm" autocomplete="off">
                        </div>
                        <div class="check_cum_img">
                            <img src="{:captcha_src()}" alt="captcha" id="pic" onclick="this.src=this.src+'?yzm='+Math.random()"/>
                        </div>
                        <div class="sum_reme_for p">
							<!--<div class="autplog">
                                <label>
                                    <input type="hidden" name="referurl" id="referurl" value="http://www.qifengedu.com/">
                                    <input type="checkbox" class="u-ckb J-auto-rmb"  name="autologin" value="1">自动登录
                                </label>
                            </div>-->
                            <div class="foget_pwt">
                                <a href="forget_pwd.html">忘记密码？</a>
                            </div>
                        </div>
                        <div class="login_bnt">
                            <input type="submit" value="提交" name="submit" id="sub" disabled>
                        </div>
                    </div>
                </form>
                <div class="layel3">
                    <div class="contactsty">
                        <div class="tecant_c">
                            <ul>
                                                                        <li class="spacer"></li>
                                        <li>
                                            <a class="justclix" href="../LoginApi/login/oauth/weixin.html" title="weixin">
                                                <i class="judgp co_wechat"></i>
                                                <span>微信</span>
                                            </a>
                                        </li>
                                                                        <!---->
                                                                        <li class="spacer"></li>
                                        <li>
                                            <a class="justclix" href="../../home/LoginApi/login/oauth/qq.html" title="QQ">
                                                <i class="judgp co_qq"></i>
                                                <span>QQ</span>
                                            </a>
                                        </li>
                                                                        <!---->
                                                            </ul>
                        </div>
                        <div class="register_c">
                            <a class="justclix" href="/index/user/register">
                                <i class="judgp co_register"></i>
                              <span>立即注册</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-s-->
<!--<div class="footer p">-->
    <!--<//include file="public/footer_index" />-->
<!--</div>-->
<div class="footer p">
    <div class="mod_copyright p" style="border-top: 0;">
        <div class="grid-top">
                    </div>
		<p>Copyright © 2017-2025 济南齐峰教育咨询有限公司 版权所有 鲁ICP备17005611号</p>
        
    </div>
</div>
<!--footer-e-->
<script>
    $(function () {
        //判断用户名
        $('#username').blur(function () {
            $.ajax({
                url:'/index/user/lname',
                type:'post',
                data:{name:$('#username').val()},
                success:success
            });
            function success(data)
            {
                if (data ==2) {
                    layer.tips('用户名不存在','.uspa_user',{tips:[1,'purple'],time:999000});
                    $('#username').removeClass('unm');
                } else if (data == 1){
                    layer.tips('continue','.uspa_user',{tips:[4,'violet'],time:2000});
                    $('#username').addClass('unm');
                } else if (data == 0) {
                    $('#username').removeClass('unm');
                    return false;
                }

            }
        });


        //判断密码
        $('#password').blur(function () {
            $.ajax({
                url:'/index/user/lpwd',
                type:'post',
                data:{name:$('#username').val(),pwd:$('#password').val()},
                success:success
            });
            function success(data)
            {
                if (data ==2) {
                    layer.tips('密码错误','.uspa_pwd',{tips:[4,'purple'],time:999000});
                } else if (data == 1){
                    layer.tips('continue','.uspa_pwd',{tips:[4,'violet'],time:2000});
                    $('#password').addClass('pwd');
                } else if (data == 0) {
                    return false;
                }
            }
        });

        //判断验证码
//        $('#yzm').blur(function () {
//            $.ajax({
//                url:'/index/user/lyzm',
//                type:'post',
//                data:{yzm:$('#yzm').val()},
//                success:success
//            });
//            function success(data)
//            {
//                if (data ==2) {
//                    layer.tips('验证码错误','#yzm',{tips:[3,'purple'],time:999000});
////                    $('#pic').click();
//                } else if (data == 1){
//                    layer.tips('continue','#yzm',{tips:[4,'violet'],time:2000});
//                    $('#yzm').attr('disabled',true);
//                    $('#pic').css('display','none');
//                    $('#yzm').addClass('yzm');
//                } else if (data == 0) {
//                    return false;
//                }
//            }
//        });
        $('#yzm').mouseout(function () {
            $.ajax({
                url:'/index/user/lyzm',
                type:'post',
                data:{yzm:$('#yzm').val()},
                success:success
            });
            function success(data)
            {
                if (data ==2) {
                    layer.tips('验证码错误','#yzm',{tips:[3,'purple'],time:999000});
//                    $('#pic').click();
                } else if (data == 1){
                    layer.tips('continue','#yzm',{tips:[4,'violet'],time:2000});
                    $('#yzm').attr('disabled',true);
                    $('#pic').css('display','none');
                    $('#yzm').addClass('yzm');
                } else if (data == 0) {
                    return false;
                }
            }
        });



        //判断登陆
        $('div').mouseout(function () {
            if ($('#sub').hasClass('unm pwd yzm')) {
                $('#sub').css('background','darkviolet');
                $('#sub').attr('disabled',false)
            } else{
                $('#sub').css('background','#F3FBFE');

                $('#sub').attr('disabled',true)

            }

        });

        $('div').mouseout(function () {
            if ($('#username').hasClass('unm')) {
                $('#sub').addClass('unm');
            }else{
                $('#sub').removeClass();
                return false;
            }
            if ($('#password').hasClass('pwd')) {
                $('#sub').addClass('pwd');
            }else{
                $('#sub').removeClass();
                return false;
            }
            if ($('#yzm').hasClass('yzm')) {
                $('#sub').addClass('yzm');
            }else{
                $('#sub').removeClass();
                return false;
            }
        });




    });
</script>

</body>
</html>